:root {
    --accent-red: #E42313;
    --secondary-yellow-1: #F4CB3A;

    --main-background: #F7F7F7;

    --neutral-black: #100F1E;
    --neutral-white: #FFFFFF;
    --neutral-gray: #DBDBDB;

    --ui-green: #66D256; 
    --ui-green-2: #235F1C; 

}