:root {
    --primary-purple: #41295A;
    --primary-purple-4: #9B59B6;
    --secondary-orange-1: #FF8008;

    --accent-red: #E42313;
    --secondary-yellow-1: #F4CB3A;

    --main-background: #F7F7F7;

    --neutral-black: #100F1E;
    --neutral-white: #FFFFFF;
    --neutral-gray: #DBDBDB;
}