table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--neutral-gray);
    color: var(--neutral-black);
}

tr {
    border: 1px solid var(--neutral-gray);

}

th,
td {
    padding: 8px 32px;
    text-align: left;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-bottom: 16px;
}

.table-footer {
    margin-top: 16px;
}

.pagination {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.pagination button {
    border-radius: 1px;
    border: 1px solid #F3F0FD;
    padding: .5rem 1rem;
    background: var(--neutral-white);
    color: var(--main-color);
    text-align: center;
}

.pagination button:hover{
    background: #F3F0FD;
    transition: background 0.2s, border-radius 0.2s, color 0.2s;
}

.pagination button.active{
    background: var(--main-color);
    color: var(--neutral-white);
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y:8px;
}