@import url(fonts.css);

body {
    background-color: var(--primary-purple);
    background: linear-gradient(315deg, var(--primary-purple) 0%, var(--primary-purple-2) 100%);
    min-height: 100vh;
}
.pearls {
    height: 256px;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 960px;
}

.mask {
    width: 560px;
    margin: auto;
    object-fit: cover;
    text-align: center;
    margin-bottom: 1.5rem;
}

.btn-raffle-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn-raffle {
    margin: auto;
    padding: 8px 24px;
    border-radius: 56px;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    /* 114.286% */
}

.init-raffle,
.restart-raffle {
    border: 1px solid var(--neutral-white);
    background-color: transparent;
    color: var(--neutral-white);
}

.generate-new-raffle {
    border: 0;
    background-color: var(--secondary-orange-1);
    color: var(--neutral-white);
}

.restart-raffle {
    max-width: 148px;
}

.init-raffle {
    max-width: 132px;
}

.init-raffle:hover,
.btn-raffle:hover {
    background-color: var(--neutral-white);
    color: var(--primary-purple);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.divider {
    border: 1px solid #E0E0E0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .right-reserved {
    color: var(--neutral-white);
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
   line-height: 1.5rem;
}

.content img {
    width: 144px;
}

dialog {
    background-color: var(--neutral-white);
    min-width: 60rem;
    border-radius: 1rem;
    padding: 3rem;
    border: none;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-purple);
    border-bottom: 1px solid var(--neutral-black);
}

.modal-body {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.modal-body .content {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-purple-4);
    background-image: url('images/Star1.png');
    background-position: bottom right;
    background-size: 132px;
    background-repeat: no-repeat;
    width: 132px;
}

.modal-body .content .prize {
    color: var(--neutral-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
}

.modal-body .content .quantity {
    color: var(--primary-purple, #41295A);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
}

.modal-body .content:hover {
    background-color: var(--primary-purple-4);
    cursor: pointer;
}

.modal-body .content:hover .quantity,
.modal-body .content:hover .prize {
    color: var(--neutral-white);
}

.modal-body .content.active {
    background-color: var(--primary-purple-4);
}

.modal-body .content.active .quantity,
.modal-body .content.active .prize {
    color: var(--neutral-white);
}

.modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;
}

.modal-footer .message-error {
    color: var(--accent-red);
    
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
   line-height: 1.5rem;
    /* 133.333% */
}

.modal-footer .cancel {
    border: 1px solid var(--primary-purple);
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--primary-purple);
    background-color: transparent;
    cursor: pointer;
}

.modal-footer .cancel:hover {
    background-color: var(--primary-purple);
    color: var(--neutral-white);
}

.modal-footer .confirm {
    background-color: var(--primary-purple);
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--neutral-white);
    border: 1px solid var(--primary-purple);
    cursor: pointer;
}

.game,
.counter {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--neutral-white);
    flex-direction: column;
}

.names {
    
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    /* 120% */
}

.names .raffle {
    margin-top: 116px;
}

.winner {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    animation: fadeIn 1s ease-in-out;
}

.the-winner {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
    /* 133.333% */
}

.name {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    /* 120% */
}

.position {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    /* 133.333% */
}

.congratulations {
    
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    /* 120% */
}


.counter {
    font-size: 88px;
    font-weight: 700;
    line-height: 96px;
    display: none;
    animation: pulse 1s ease-in-out infinite, fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}